*{
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    cursor: none;/*デフォルトのマウスカーソルを非表示にする*/
    scroll-behavior: smooth;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
}

::-webkit-scrollbar{
    opacity: 0;
    width: 0;
}

body{
    width: 100%;
}

img{
    vertical-align: top;
}

li{
    list-style: none;
}