 /*独自のマウスカーソルを作成*/
 .cursor {
    position: fixed;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 50000;
    transition: width 0.25s, height 0.25s, top 0.25s, left 0.25s;
    transform: translate(0, 0);
    pointer-events: none;
    mix-blend-mode:exclusion;
  }
  
  /*aタグにホバーした時に見た目変化*/
  .cursor.cursor--hover {
    top: -14px;
    left: -13px;
    width: 30px;
    height: 30px;
    background: rgb(137, 91, 89);
    mix-blend-mode:exclusion;
  }

  .wrap{
    background-color: #AD9F7B;
    position: fixed;
    background-size: cover;
  }

  .logo{
    width: 200px;
  }

  .p-position{ /* 位置調整と基準ボックス */
    width: 200px;
    height: 180px;
  }

  .profile{ 
    width: 200px;
    height: 180px;
    background-color: #4B473B;
    overflow: hidden;
    
  }

  .p-text-L{
    font-size: 140px;
    color: #AD9F7B;
    font-family: 'EB Garamond', serif;
  }

  .p-text-u{
    font-size: 35px;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
  }

  .p-border{
    border: #ffffff solid 2px;
    width: 160px;
    height: 160px;
    mix-blend-mode: difference;
  }

  .o-position{ /* 位置調整と基準ボックス */
    width: 200px;
    height: 180px;
  }

  .others{ 
    width: 200px;
    height: 180px;
    background-color: #4B473B;
    overflow: hidden;
    
  }

  .o-text-L{
    font-size: 140px;
    color: #AD9F7B;
    font-family: 'EB Garamond', serif;
  }

  .o-text-u{
    font-size: 35px;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
  }

  .o-border{
    border: #ffffff solid 2px;
    width: 160px;
    height: 160px;
    mix-blend-mode: difference;
  }

  .t-position{ /* 位置調整と基準ボックス */
    width: 200px;
    height: 180px;
  }

  .Top{ 
    width: 200px;
    height: 180px;
    background-color: #4B473B;
    overflow: hidden;
    
  }

  .t-text-L{
    font-size: 140px;
    color: #AD9F7B;
    font-family: 'EB Garamond', serif;
  }

  .t-text-u{
    font-size: 35px;
    color: #ffffff;
    font-family: 'EB Garamond', serif;
  }

  .t-border{
    border: #ffffff solid 2px;
    width: 160px;
    height: 160px;
    mix-blend-mode: difference;
  }

  .main-container{
    background-color: #847B6335;
    max-width: 600px;
    width: 100%;
  }

  .Garden-box{
    position: relative;
    background-color: #b9bbbf;
    width: 400px;
    padding: 20px 50px 40px;
    margin-bottom: 100px;
  }

  .works-s{
    font-size: 20px;
  }

  .k-img{
    max-width: 400px;
    width: 100%;
    padding: 20px 0;
  }

  .k-details{
    max-width: 400px;
    width: 100%;
    padding: 20px 20px;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    font-size: 14px;
  }

  .Garden-c{
    color: #847B63;
  }

  .Garden-u{
    color: #b9bbbf;
  }

  .Garden-c,.Garden-u{
    font-size: 80px;
  }

  .works-l{
    font-size: 300px;
    color: #C7AF71;
    letter-spacing: -40px;
  }

  .vertical-bar01,.vertical-bar02{
    background-color: #4B473B;
  }

  .horizontal-bar01,.horizontal-bar02{
    background-color: #4B473B;
  }

  .Job-box{
    display: inline-block;
    position: relative;
    background-color: #847B63;
    width: 450px;
    padding: 20px 50px 40px;
    text-align: center;
  }

  .j-img{
    max-width: 400px;
    width: 100%;
    padding: 20px 0;
  }

  .j-details{
    max-width: 400px;
    width: 100%;
    padding: 20px 30px;
    letter-spacing: 3px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    text-align: left;
  }

  .Job-c{
    color: #AD9F7B;
  }

  .Job-u{
    color: #847B63;
  }

  .Job-c,.Job-u{
    font-size: 80px;
  }

  .middle-box{
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 250px;
  }

  .middle-box p{
    color: #C7AF71;
    font-size: 170px;
  }

  .Profile-container{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin-bottom: 200px;
    z-index: -10;
  }

  .myprofile{
    background-color: #b9bbbf;
    width: 450px;
    padding-bottom: 30px;
  }

  .mytitle{
    font-size: 20px;
    padding-left: 60px;
    padding-top: 30px;
  }
  
  .mydetails{
    max-width: 400px;
    width: 100%;
    padding: 20px 40px;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
    font-size: 14px;
  }

  .tehepero{
      width: 100px;
    }

  .others-container{
    position: relative;
    max-width: 600px;
    width: 100%;
    height: 1450px;
  }

  .others-L-bg{
    font-size: 300px;
    color: #C7AF71;
  }

  .fase1{
    position: relative;
    max-width: 600px;
    width: 100%;
  }

  .tomato-box-position{
    max-width: 600px;
    width: 100%;
  }

  .tomato-cover-box{
    width: 400px;
    overflow: hidden;
    height: 250px;
    z-index: 1;
    background-color: #847B63;
  }

  .tomato-under-box{
    width: 400px;
    background-color: #847B63;
    height: 250px;
    z-index: -100;
  }
  .icon-c{
    color: #AD9F7B;
    font-size: 100px;
    z-index: 1;
  }

  .icon-u{
    color: #847B63;
    font-size: 100px;
    z-index: -10;
  }

  .fase2{
    position: relative;
    max-width: 600px;
    width: 100%;
  }
  .fase3{
    position: relative;
    max-width: 600px;
    width: 100%;
  }
  .fase4{
    position: relative;
    max-width: 600px;
    width: 100%;
  }
  .fase5{
    position: relative;
    max-width: 600px;
    width: 100%;
  }

  .tomatologo{
    width: 100px;
  }

  .tomatoicon{
    width: 100px;
  }

  .tomatoposter{
    width: 250px;
  }

  .fase2 p{
    color: #4B473B;
    font-size: 140px;
    transform: rotate(-90deg);
  }

  .tomatocover{
    width: 400px;
  }

  .fase3 p{
    color: #4B473B90;
    font-size: 140px;
  }

  .tomatopack{
    width: 400px;
  }

  .tomatowrap{
    width: 400px;
  }

  .fase5 p{
    color: #4B473B;
    font-size: 120px;
    transform: rotate(90deg);
  }

  @media screen and (max-width:1500px) {
    .p-position{
      transform: scale(0.7);
      position: fixed;
      left: 100px;
      top: 250px;
    }

    .profile{ 
      position: absolute;
    }
    
    .p-text-L{
      position: absolute;
      top: -30px;
      left: -20px;
    }
    
    .p-text-u{
      position: absolute;
      top: 110px;
      left: 60px;
    }
    
    .p-border{
      transform: scale(0.9);
      position: absolute;
      top: -25px;
      left: -25px;	
    }
    
    .o-position{ /* 位置調整と基準ボックス */
      transform: scale(0.7);
      position: fixed;
      top: 50px;
      right: 100px;
      }
    
    .others{ 
      position: absolute;
    }
    
    .o-text-L{
      position: absolute;
      top: -30px;
      left: -20px;
    }
    
    .o-text-u{
      position: absolute;
      top: 110px;
      left: 40px;
    }
    
    .o-border{
      transform: scale(0.9);
      position: absolute;
      top: -25px;
      left: -25px;	
    }
    
    .t-position{ /* 位置調整と基準ボックス */
      transform: scale(0.7);
      position: fixed;
      top: 400px;
      right: 150px;
    }
    
    .Top{ 
      position: absolute;
    }
    
    .t-text-L{
      position: absolute;
      top: -30px;
      left: -20px;
    }
    
    .t-text-u{
      position: absolute;
      top: 110px;
      left: 70px;
    }
    
    .t-border{
      transform: scale(0.9);
      position: absolute;
      top: -25px;
      left: -25px;	
    }
  }

  .FadeinX{
    opacity: 0;
    transition-duration: .5s;
    transform: translateX(50px);
    transition: 1.5s;
  }

  .Fadein-X{
    opacity: 0;
    transition-duration: .5s;
    transform: translateX(-50px);
    transition: 1.5s;
  }

  .FadeinY{
    opacity: 0;
    transition-duration: .5s;
    transform: translateY(100px);
    transition: 1.5s;
  }

  .Fadein-Y{
    opacity: 0;
    transition-duration: .5s;
    transform: translateY(-100px);
    transition: 1.5s;
  }

  .scroll-in {
    opacity: 1;
    transform: translate(0);
  }  